[Unit]
Description=Nginx Upstream Watcher Docker
After=network.target nginx.target docker.target

[Service]
Type=simple
ExecStart=/bin/python3 /root/nginx_upstream_watcher_docker/watcher.py
Restart=on-failure
KillSignal=SIGINT
WorkingDirectory=/root
User=root

[Install]
WantedBy=multi-user.target
